name: Build APK GeminiTube
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Android APK
        uses: GearPlug/pwa-to-apk-action@v1
        with:
          # Titik artinya dia ambil index.html yang bosku upload tadi
          web_dir: './'
          app_name: 'GeminiTube'
          package_id: 'com.gemini.tube'
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: GeminiTube-App
          path: ./*.apk
